@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --verde_welldone: rgb(183, 240, 221);
    --preto_botao: #272525;
    --preto_bg: rgb(20, 19, 21);
}


*{
    background-color: var(--preto_bg);
}


.color-hover-header{
    color: var(--verde_welldone) !important;
}

header .container{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-bottom: solid 1px white;
    font-size: 18px;
    padding: 10px 5px 10px 0px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10%;
}



.header__menu-list__item a:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0%;
    background-color: white;
    transition: 0.2s ease-in-out;
  }

  .header__menu-list__item a {
    position: relative;
  }
  
  .header__menu-list__item a:hover::before {
    width: 100%;
    height: 2px;
  }

  .header__menu-list__item a:before {
    height: 2px;
  }

  .login_button:hover{
    opacity: 0.9;
}

header .login_button{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--preto_botao);
    margin-left: 11%;
    border: none;
    padding: 5px 25px 5px 25px;
}

a{
    text-decoration: none;
    color: white;
}


.header_menu_list {
    list-style-type: none;
    gap: 15%;
    display: flex;
}

.nome_empresa a{
    color: rgb(183, 240, 221);
}

img{
    max-width: 100%;
}



.content{
    width: 100%;
    text-align: center;
}

.titulo{
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    font-size: 340%;
    
}



.conteudo-esquerda{
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.texto-content-esquerda{
    margin-right: 10%;
    width: 30%;
    text-align: justify;
}

.texto-home-esquerda{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 3%;
    margin-bottom: 7%;
    font-size: 130%;
}

.titulo-home-esquerda{
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
    color: var(--verde_welldone);
    font-size: 340%;
    width: fit-content;
}

.titulo-home-esquerda:hover{
    font-size: 346%;
    transition: 0.4s ease-in-out;
}

.button{
    font-family: 'Poppins', sans-serif;
    color: var(--preto_bg);  
    border: 1px solid white;
    border-radius: 5%;
    padding: 5px 5px 5px 5px;
    background-color: var(--verde_welldone);
    margin-top: 2%;
    font-weight: 500;
}

.img-esquerda{
    width: 45%;
    margin-right: auto;
    margin-left: 10%;
}





.img{
    width: 45%;
    margin-left: auto;
    margin-right: 10%;
}

.content-home{
    display: block;
    width: 100%;
}

.titulo-home{
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
    color: var(--verde_welldone);
    font-size: 340%;
    width: fit-content;
}

.titulo-home:hover{
    font-size: 346%;
    transition: 0.4s ease-in-out;
}

.texto-content{
    margin-left: 10%;
    width: 30%;
    text-align: justify;
}

.texto-home{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 3%;
    font-size: 130%;
    margin-bottom: 7%;
}

.introducao{
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.titulo:hover{
    color: var(--verde_welldone);
    transition: 0.5s;
}

.texto{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 130%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.video{
    margin-top: 3%;
    width: 60%;
    height: 70vh;   
    text-align: center;
}

.footer {
    margin-top: 100px;
    color: white;
    background-color: var(--preto_botao);
    padding: 0 0 2% 0;
}

.footer__title {
    font-size: 28px;
    text-align: center;
    padding: 20px 0 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 2% 0;
    background-color: var(--preto_botao);
}

.footer__title:hover{
    color: var(--verde_welldone);
    transition: 0.4s;
}

.line{
    content: '';
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
    border-top: 1px solid white;
}

.developers{
    font-size: 110%;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--preto_botao);
}

.footer__copyright {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #ffffff;
    color: #bbbbbb;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

footer .container{
    background-color: var(--preto_botao);
    width: 100%;
}





.page_header{
    width: 100%;
    display: flex;
    align-items: center;
}

.img_page_header{
    width: 27%;
    margin-left: auto;
    margin-right: 17%;
    margin-top: 2%;
}

.img_page_header:hover{
    width: 29%;
    transition: 0.4s ease-in-out;
}

.titulo-introducao{
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 200%;
    width: fit-content;
    margin-left: 15% ;
}

.line_page_header{
    width: 70%;
    margin-top: 5%;
    border-bottom: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}

.titulo-introducao:hover{
    font-size: 210%;
    color: var(--verde_welldone);
    transition: 0.4s ease-in-out;
}

.ia_content{
    width: 100%;
    display: block;
}

.titulo_ia_content{
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 200%;
    width: 100%;
    text-align: center;
}
.titulo_ia_content:hover{
    color: var(--verde_welldone);
    transition: 0.4s ease-in-out;
    font-size: 202%;
}

.texto_ia_content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.ia_content_textoh3{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 130%;
    margin-top: 3%;
    text-align: justify;
}

.ia_page_main{
    text-align: center;
}




.content_cult_eficiente{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.img_cult{
    width: 45%;
    height: 100%;
}

.content_cult{
    display: flex;
    margin-top: 3%;
}

.container_cult{
    display: block;
    margin-left: 3%;
}

.titulo_cult{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 200%;
    width: 100%;
}

.titulo_cult:hover{
    color: var(--verde_welldone);
    font-size: 205%;
    transition: 0.4s;
}

.line_cult{
    content: '';
    margin-top: 4%;
    width: 100%;
    border-top: 1px solid white;
}

.texto_cult{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: justify;
    color: white;
}







.content_cult_eficiente_esq{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.img_cult_esq{
    width: 100%;
    height: 100%;
}

.content_cult_esq{
    display: block;
    margin-top: 3%;
}

.container_cult_esq{
    display: block;
}

.titulo_cult_esq{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 200%;
    width: 100%;
}

.titulo_cult_esq:hover{
    color: var(--verde_welldone);
    font-size: 205%;
    transition: 0.4s;
}

.texto_cult_esq{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: justify;
    color: white;
    margin-bottom: 3%;
}


















@media(min-width: 769px) and (max-width:1279px){

    .header_menu_list{
        display: flex;
    }

    .header__menu-list__item a:before {
        height: 2px;
      }

    .header_menu_list{
        gap: 15%;
    }
}




@media(min-width: 503.21px) and (max-width:768px){

    .header_menu_list{
        display:flex;
    }

    .header__menu-list__item a:before {
        height: 2px;
      }

    .header_menu_list{
        gap: 10%;
    }
}





@media(min-width: 100px) and (max-width:503.20px){
    
    .header_menu_list{
        display:block;
    }

    .header__menu-list__item a:before {
        height: 2px;
        margin-bottom: 5px;
    }

    .header_menu_list{
        gap: 10%;
    }
}